body {
    margin: 0;
    padding: 0;
}
.page {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: .10fr 1fr 1fr;
    grid-gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
}

.header {
    grid-row: 1/2;
    grid-column: 1/5;
}

.header-container {
    grid-row: 1/2;
    grid-column: 1/5;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    padding: 20px 20px 20px 40px;
    text-align: center;
    color: #b0b0b0;
    font-size: 28px;
}

.header-page-title {
    margin-left: -14%;
    color: #b0b0b0;
    font-size: 28px;
}

.header-right-section {
    align-items: center;
    display: flex;
    width: 25%;
}

.header-right {
    background-color: #f0f0f0;
    border: 1px solid #e3f0f9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 60px 0 30px;
    margin-left: 50px;
    width: 150%;
}

.header-right-icon {
    height: 40px;
    width: 40px;
}

.header-user {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.header-user-image {
    height: 80px;
    width: 80px;
    padding-right: 20px;
    padding-top: 10px;
}

.header-user-info {
    color: #b0b0b0;
    font-size: 20px;
}

/*
settings for the left middle
*/

.left-settings {
    grid-row: 2/4;
    grid-column: 0/1;
    background-image: linear-gradient(#1baffc, #0c69bb);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 55px;
    padding-top: 50px;
    height: 100%;
    margin-right: 100px;
}



.left-settings-home {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.left-settings-home:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.left-settings-server {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.left-settings-server:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.left-settings-email {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.left-settings-email:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.left-settings-sms {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.left-settings-sms:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.left-settings-print {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.left-settings-print:hover {
    background-color: rgba(255, 255, 255, 0.269);
}

.left-settings-icon {
    width: 15%;
    padding-bottom: 5px;
}

.left-settings-text {
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

.left-settings-canam {
    margin: 0 auto;
    padding-top: 25px;
}

.left-settings-canam-logo {
    display: block;
    width: 50%;
    margin: 0 auto;
    left: 25%;
}

/*
Temperature top */

.temp {
    grid-column: 2/4;
    grid-row: 2/3;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 50px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.temp-top {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.temp-top-text {
    padding: 0 15px;
    margin: 0 20px 0 0;
    font-size: 18px;
    white-space: nowrap;
    color: #b0b0b0;
    border-right: 1px solid #b0b0b0;
}

.temp-top-container {
    width: 100%;
    height: 75%;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    position: relative;
    left: 0;
}

.temp-top-container-blue {
    width: 33%;
    background-color: #019a13;
    color: #019a13;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.temp-top-container-yellow {
    width: 34%;
    background-color: #f2a801;
    color: #f2a801;
}

.temp-top-container-red {
    background-color: #be0000;
    width: 33%;
    color: #be0000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.temp-top-slider {
    width: 100%;
}
.temp-top-slider-slide {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        #019a13 33%,
        #f2a801 33%,
        #f2a801 66%,
        #be0000 66%
    );
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.temp-top-slider-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f2a801;
    cursor: pointer;
}

.temp-top-slider-slide::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4caf50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/*
.temp-top-slider-output {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.temp-top-slider-output::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
}

/*Middle Section*/

.middle {
    background-color: #ebebeb;
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 20px;
    border-radius: 50px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
}

.middle-left {
    grid-column: 0/1;
}

.middle-left-title {
    text-align: center;
    color: #888888;
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
}

.middle-left-container {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
}

.middle-left-container-title {
    background-color: #f3f3f3;
    border-radius: 25px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #888888;
}

.middle-right-temp-container-title-tests {
    margin-top: 10px;
}

.middle-left-notifications {
    display: flex;
    flex-direction: column;
}

.middle-left-notifications-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.middle-left-notifications-div p {
    font-size: 18px;
    margin: 5px;
    color: #888888;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.middle-left-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.middle-left-button-icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-right: 5px;
}

.middle-left-button-actual {
    background: linear-gradient(#1895e3, #117ac9);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 5px;
    width: 75%;
    padding: 6px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all;
}

.middle-left-button-actual:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Middle right*/

.middle-right {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 15px;
}

.middle-right-title {
    text-align: center;
    color: #888888;
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
}

.middle-right-temp-container {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
}

.middle-right-temp-container-title {
    background-color: #f3f3f3;
    border-radius: 25px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #888888;
}

.middle-right-check-in-container {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    margin-top: 10px;
}

.middle-right-check-in-container-title {
    background-color: #f3f3f3;
    border-radius: 25px;
    text-align: center;
    padding: 0px 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #888888;
    padding: 10px 0;
}

.middle-right-check-in-container-title p {
    display: inline;
    margin-right: 50px;
    margin-top: -50px;
}

.middle-right-check-in-container-title h3 {
    display: inline;

    color: greenyellow;
}

.middle-right-check-in-container-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle-right-check-in-container-img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.middle-right-check-in-container-data {
    margin-top: 10px;
    margin-left: 10px;
}

.middle-right-check-in-container-data p {
    font-size: 14px;
    line-height: 75%;
    color: #888888;
}

.middle-right-export-button {
    background: linear-gradient(#1895e3, #117ac9);
    color: white;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 5px;
    width: 40%;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    float: right;
    transition: 0.2s all;
    margin-top: 10px;
}

.middle-right-export-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle-right-temp {
    width: 100%;
}

.middle-right-temp-top-slider {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.middle-right-temp-top-slider-slide {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        #019a13 33%,
        #f2a801 33%,
        #f2a801 66%,
        #be0000 66%
    );
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 20px;
}

.middle-right-temp-top-slider-slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f2a801;
    cursor: pointer;
    border: 2px solid #019a13;
}

.middle-right-temp-top-slider-slide::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4caf50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 2px solid #019a13;
}

.middle-right-temp-top-slider-output {
    background: #019a13;
    color: white;
    padding: 6px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 10%;
    font-size: 20px;
}
.middle-right-temp-top-slider-output::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: #019a13;
    top: -1px;
    left: 50%;
}

.right {
    grid-row: 2/3;
    grid-column: 4/5;
}

.right-container {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 50px;
    margin-top: 90px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.right-container-title {
    text-align: center;
    color: #888888;
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
}

.right-container-temp {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
}

.right-container-temp-input {
    border: none;
    border-bottom: 1px solid #0c69bb;
    outline: none;
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
}

.right-container-temp-input-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-container-temp-submit,
.right-container-temp-cancel {
    background: linear-gradient(#1895e3, #117ac9);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 5px;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all;
}

.right-container-temp-submit:hover,
.right-container-temp-cancel:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-container-testing {
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    margin-top: 10px;
}

.right-container-testing-title {
    background-color: #f3f3f3;
    border-radius: 25px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #888888;
}

.right-container-testing-image {
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.right-container-testing-content {
    display: flex;
    flex-direction: column;
}

.right-container-testing-div {
    margin-top: 10px;
}

.right-container-testing-text {
    margin: 0;
}

.right-container-testing-text-p {
    font-size: 14px;
    line-height: 75%;
    color: #888888;
    margin: 5px;
}

.right-bottom-button {
    background: linear-gradient(#1895e3, #117ac9);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 5px;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    width: 90%;
    transition: all 0.2s;
}

.right-bottom-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* media queries */

@media only screen and (min-width: 992px) {
    .left-settings {
        margin-right: 10%
    }
}



@media only screen and (min-width: 1200px) {
    .left-settings {
        margin-right: 10%
    }
}